  <!DOCTYPE html>
  <html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="login" class="" style="background:#010101;" >
      <v-app theme="dark" style="max-width: 900px;" class="pt-5 mx-auto px-5">
        <div class="py-4">
          <!-- <v-img
            class="mx-auto mb-10"
            max-width="228"
            src="http://127.0.0.1:500/Emmanuel.jpg"
          ></v-img> -->

          <v-card
            class="mx-auto pa-12 pb-8"
            elevation="8"
            max-width="448"
            rounded="lg"
          >
          <v-form ref="form" @submit.prevent="handleLogin" >
            <div class="text-title text-h4 mb-5">Voter Login</div>
            <v-alert class="mb-3 py-1" v-if="alert_msg" :type="alert_type" title="" variant="tonal" border="start" close-label="Close Alert">
              {{alert_msg}}
            </v-alert>
            <div class="text-subtitle-1 text-medium-emphasis">Registration Number</div>

            <v-text-field
              density="compact"
              placeholder="Registration Number"
              prepend-inner-icon="mdi-account-key"
              variant="outlined"
              v-model="reg_no"
              :rules="reg_no_rules"
            ></v-text-field>

            <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
              Token
            </div>

            <v-text-field
              v-model="pass_token"
              :append-inner-icon="pass_visible ? 'mdi-eye-off' : 'mdi-eye'"
              :type="pass_visible ? 'text' : 'password'"
              density="compact"
              placeholder="Enter your token"
              prepend-inner-icon="mdi-lock-outline"
              variant="outlined"
              :rules="pass_rules"
              @click:append-inner="pass_visible = !pass_visible"
            ></v-text-field>
            <v-btn
              block
              class="mb-8"
              color="blue"
              size="large"
              variant="tonal"
              type="submit"
              :loading="isLoading"
              :disabled="isLoading"
            >
              Log In
            </v-btn>
          </v-form>
          </v-card>
        </div>
      </v-app>
    </div>
  </body>

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.5/dist/vuetify.min.js"></script>
<!-- 
<script src="/vue/modules/vue.global.prod.js"></script>
<script src="/vue/modules/vuetify.js"></script>
 -->
<script type="module">
  const { createApp } = Vue
  const { createVuetify } = Vuetify
  const vuetify_ = createVuetify()

  const Login = {
    components: { }
    , data: () => ({
      alert_msg:'',
      alert_type:'',
      pass_visible:false,
      reg_no:'',
      pass_token:'',
      isLoading:false,
      reg_no_rules: [value => value ? true : 'Reg No is required'],
      pass_rules: [value => value ? true : 'Token is required']

    }),
    methods:{
      async handleLogin(){
        const { valid } = await this.$refs.form.validate()
        if (valid) {
          this.isLoading = true
          const req = {
            reg_no:this.reg_no,
            _token:this.pass_token
          }
          const res = await fetch("http://127.0.0.1:500/auth/login-voter", {
            method: "POST"
            , body: JSON.stringify(req)
            , headers: {
              "content-Type": "application/json"
            }
          })
          const result = await res.json()
          if (result.ok) {
            this.isLoading = false
            this.alert_type = 'success'
            this.alert_msg = result.msg
            location.assign('/v1.0/s/a/vote')
            // this.$router.push({name:'Admin Operation',params:{user:'Admin'}})

            // this.alert_type = "success"
            // console.log(result)
          } else {
            this.isLoading = false
            this.alert_type = "error"
            this.alert_msg = result.msg
          }
        }
      }
    },
    created(){

    }
  }

  const app = createApp(Login)
  app.use(vuetify_).mount('#login')
</script>